<div class="banner">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
<%= link_to "add movie", new_list_bookmark_path(@list) %>
<%= link_to "All lists", lists_path %>
  <div class="row mt-5">
    <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bookmark.movie.poster_url %>')">
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
            <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, bookmark_path(bookmark),
             data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-remove-link" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
